@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Bree+Serif');
*{
	padding:0;
	margin:0;
}
body{
	
}
.wrap{
	width:1600px;
	margin: 0 auto;
}
.bg_color{
	
	border-bottom:5px solid #7B68EE;
	border-top:5px solid #7B68EE;
}
.header{
	padding-bottom:15px;
}
.header h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 45px;
    text-shadow: -2px 2px 5px #000000;
}
.header h2::first-letter {
    font-size: 80px;
    color: #5D7FA0;
   
}
.header p {
    float: left;
    /* margin-top: 62px; */
    margin-left: :-103px;
    position: relative;
    left: -243px;
    top: 38px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 18px;
    word-spacing: 3px;
}
.header h2{
	float:left;
	margin-left:30px;
}
.header .search-box {
    float: left;
    width: 400px;
    margin-left: 30px;
    margin-top: 62px;
}
.header .shopping-cart{
	float:left;
	width:200px;
	background:#DCDCDC;
	margin-left:30px;
	border:1px solid #75696B;
	color:#fff;
	margin-top:62px;
}
.header .login{
	float:left;
	width:150px;
	background:green;
	margin-left:30px;
	margin-top:62px;
}
.header:after{
	content:"";
	display:block;
	clear:both;
}
.search-box{
	text-align:center;
	margin-top:25px;
	
	
}
.search-box-input{
	background-color:#fff;
	color:#000;
	outline:none;
	padding:3px 8px;
	width:300px;
	 border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
input[type=text]:focus {
    border: 3px solid #555;
}
.search-box-button {
	
}
.shopping-cart{
	
}
.cart_title{
	color:tomato;
	font-weight:bold;
	text-align:center;
}
.no_product{
	color:#FF4500;
	font-weight:bold;
	text-align:center;
}
.cart a{
	text-decoration:none;
}
.login{
	
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #145080;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding:5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
	margin-left:50px;
  margin-top:61px;
  color:#fff;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color:#fff;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.header:after{
	content:"";
	display:block;
	clear:both;
}
.navigation{
	background-color:#414045;
	height:51px;
	

}
.nav_bg{
	background-color:#414045;
	border-bottom:5px solid #7B68EE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigation ul{
	list-style-type:none;
	padding:0;
	margin:0;
	width:1600px;
	margin:0 auto;
	z-index:9999;
	
	
}
.navigation ul li{
	float:left;
	border-right:1px solid #636363;
	border-left:1px solid #0E0E0E;
	position:relative;
}
.navigation ul li:last-child{
	border-right:0;
}
.navigation ul li:first-child{
	border-left:0;
}
.navigation ul li a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding:15px;
	font-weight:bold;
	font-size:15px;
}
.navigation ul li a:hover{
	background-color:#663193;
}
.navigation ul li ul{
	position:absolute;
	left:-99999px;
	background-color:#414045;
	width:180px;
	
}
.navigation ul li ul li{
	float:none;
	border-top:1px solid #636363;
	border-bottom:1px solid #0E0E0E;
	
}
@keyframes menu1{
	0%{
		transform:rotateY(-180deg) translateY(30px);
	}
	
	100%{
		transform:rotateY(0deg) translateY(0px);
	}
}
.navigation ul li ul li a{
	
}
.navigation ul li:hover ul{
	left:0;
	opacity:0.8;
	animation: menu1 600ms ease-in-out;
}

.demo-product {
    width: 700px;
    float: left;
    margin-top: 2px;
    padding: 20px 4px;
	font-family: 'Bree Serif', serif;
}
.demo-product img{
	
}

.demo-product{}
.demo-product .iphone{
	width:310px;
	float:left;
	
	padding:5px;
	margin-right:20px;
	background-color:#EDEDED;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iphone h3,.fridge h3{
    position: relative;
    left: 119px;
    top: 45px;
}
.tv h3,.camera h3{
    position: relative;
    left: 119px;
    top: 20px;
}
.iphone p,.fridge p{
    position: relative;
    left: 119px;
    top: -97px;
}
.tv p,.camera p{
    position: relative;
    left: 119px;
    top: -97px;
}
.iphone a, .fridge a {
    position: relative;
    left: 119px;
    top: -83px;
	height:30px;
	width:40px;
	background-color:#70389C;
	border-radius:5px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	padding:5px;
	
}

.tv a, .camera a {
    position: relative;
    left: 119px;
    top: -83px;
	height:30px;
	width:40px;
	background-color:#70389C;
	border-radius:5px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	padding:5px;
	
}

.demo-product .iphone{}

.demo-product .fridge{
	width:310px;
	float:left;
	
	padding:5px;
	background-color:#EDEDED;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.demo-product .tv{
	margin-top:20px;
	width:310px;
	float:left;
	
	padding:5px;
	margin-right:20px;
	background-color:#EDEDED;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.demo-product .camera {
  
    width: 310px;
    float: left;
	margin-top: 21px;

   
    padding: 4px;
    margin-right: 20px;
	background-color:#EDEDED;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slide-show {
    float: left;
    width: 850px;
    margin-left: 34px;
    box-sizing: border-box;
    margin-top: 19px;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#wowslider-container1{
	z-index:-1;
	
}
.wrap:after{
	content:"";
	display:block;
	clear:both;
}

.bar{
	background-color:#414045;
	color:#fff;
	padding:5px;
	margin-top:20px;
	text-align:center;
	font-family: 'Bree Serif', serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bar:after{
	content:"";
	width:0px;
	height:0px;
	position:absolute;
	border-top:30px solid #414045;
	border-bottom:30px solid transparent;
	border-left:30px solid transparent;
	border-right:30px solid transparent;
	left:917px;
}
.bar h3{
	animation: menu 5s ease-in-out;
	animation-iteration-count:infinite;
}
@keyframes menu{
	0%{
		transform:rotateY(0deg);
	}
	
	100%{
		transform:rotateY(360deg) ;
	}
}
.bar_bg{
	
}
.group{
	width:1600px;
}

.grid_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	/*box-shadow: 0px 0px 3px rgb(150, 150, 150);*/
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width: 23.8%;
	padding:1.5%;
	text-align:center;
	position:relative; 
}
.images_1_of_4  img{
	max-width:100%;
}
.discount{
	background:url(../images/discount-img.png) no-repeat 0 0;
	position: absolute;
	top: 30px;
	width: 42px;
	height: 42px;
}
.discount span.percentage{
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	line-height: 40px;
}
.images_1_of_4  h2 {
	color: #CC3636;
	font-family: 'Monda', sans-serif;
	font-size:0.9em;
	font-weight : normal;
}
.images_1_of_4  p {
	font-size:0.8125em;
	padding:0.4em 0;
	color: #333;	
}
.images_1_of_4  p span.strike{
	font-size:18px;
	font-family: 'Monda', sans-serif;
	color:#444;
	text-decoration:line-through;
}
.images_1_of_4  p span.price{
	font-size:18px;
	font-family: 'Monda', sans-serif;
	color: #CC3636;
	margin-left:15px;
}
.images_1_of_4 .button {
  float: left;
  line-height: 1.9em;
  margin-top: 0.3em;
  width: 100%;
}
.images_1_of_4 .button a{
		padding:7px 20px;
		font-size:0.8em;
}
.images_1_of_4 .button a{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 15px;
	text-transform: none;
	color: #737370;
	text-decoration: none!important;
	background: url(../images/button-bg.png) repeat-x 0 0 #E8E8E8;
	display: inline-block;
	border-left: 1px solid #D4D4D4!important;
	border-right: 1px solid #ADADAD!important;
	border-top: 1px solid #E0E0E0!important;
	border-bottom: 1px solid #9C9C9C!important;
	cursor: pointer!important;
	margin: 0 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.images_1_of_4 .button a:hover{
     color:#70389C;
     background: #E8E8E8;
}
.images_1_of_4 .button span img{
	position:absolute;
}
.images_1_of_4 .button a.cart-button{
	padding:7px 5px 7px 38px; 
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.product-wrapper{
	/*box-shadow: 0px 0px 3px rgb(150, 150, 150);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:378px;
	padding:12px;
	float:left;
	margin-right:27px;
	margin-top:30px;
	font-family: 'Bree Serif', serif;
}
.product-wrapper:nth-child(4){
	margin-right:0px;
	width: 383px;
}
.product-wrapper:nth-child(8){
	margin-right:0px;
	width: 383px;
}
.product-wrapper:nth-child(12){
	margin-right:0px;
	width: 383px;
}
.product-wrapper h4{
	
    font-size: .9em;
    color: red;
    text-align: center;

}
.product-wrapper p{
	text-align:center;
	font-size:0.8125em;
}
.pri{
	font-size:18px;
	color:red;
}
.product-wrapper img{
	width:336px;
	height:350px;
	
}
.product-wrapper .button2{
	text-align:center;
	
}
.product-wrapper .button2 a{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 15px;
	text-transform: none;
	color: #737370;
	text-decoration: none!important;
	background: url(../images/button-bg.png) repeat-x 0 0 #E8E8E8;
	display: inline-block;
	border-left: 1px solid #D4D4D4!important;
	border-right: 1px solid #ADADAD!important;
	border-top: 1px solid #E0E0E0!important;
	border-bottom: 1px solid #9C9C9C!important;
	cursor: pointer!important;
	margin: 0 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding:5px 15px;
	font-family: 'Bree Serif', serif;
}
.footer_bg{
	background-color:#38373C;
	margin-top:25px;
}
.col_1_of_4{
	float:left;
	color:#fff;
	width:250px;
	margin-right:50px;
	margin-left:50px;
	padding:10px;
	
	
}
.col_1_of_4 h4{
	text-transform:uppercase;
	padding:5px;
}
.col_1_of_4 ul{
	padding:5;
	margin:0;
	list-style-type:none;
}
.col_1_of_4 ul li a{
	text-decoration:none;
	color:#fff;
	display:inline-block;
	padding:10;
}
.social-icons{
	float:left;
	width:250px;
	
}
.social-icons ul li{
	display:inline;
}
.bar_gap{
	margin-top:60px;
}
.lg-logo{
	margin:0 auto;
	width:500px;
	margin-top:40px;
}
.lg-logo img{
	width:60px;
	margin-bottmo:10px;
	animation: logo 5s ease-in-out;
	animation-iteration-count:infinite;
}
.tel{
	font-size:25px;
	font-weight:bold;
	font-family: 'Bree Serif', serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 45px;
    text-shadow: -2px 2px 5px #000000;
	
}
@keyframes logo{
	0%{
		transform:rotateY(0deg);
	}
	
	100%{
		transform:rotateY(360deg) ;
	}
}


.owl-nav {
    position: absolute;
    top: 64px;
    left: 0;
	width:100%;
}
.item img{
	
	
}
.owl-next{
	float:right;
	background:#414045;
	font-size:20px;
	height:40px;
	line-height:40px;
	padding-right:15px;
	text-align:center;
	text-transform:uppercase;
	width:100px;
	color:#fff;
}
.car{
	background-color:red;
}
.car img:hover {
	background-color:#3c3c3c;
	
}
.owl-prev{
	float:left;
	background:#414045;
	font-size:20px;
	height:40px;
	line-height:40px;
	padding-left:15px;
	text-align:center;
	text-transform:uppercase;
	width:100px;
	color:#fff;
}

.owl-carousel{
	margin-bottmo:30px;
}



a {
  text-decoration: none;
  color: #000;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}
.form-bg{
	
	 
}
.main_wrap{
	width:100%;
}
.form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .5s ease;
  
   background:url(images/5.jpg) no-repeat;
		font-family: 'Titillium Web', sans-serif;
		background-size:cover;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
   font-family: 'Bree Serif', serif;
}
.tab-group li a:hover {
  background: #179b77;
  color: #000;
}
.tab-group .active a {
  background: #90EE90;
  color: #000;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color:#90EE90;
  font-weight: 300;
  margin: 0 0 40px;
  font-family: 'Bree Serif', serif;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color:	#8FBC8F;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 16px;
  font-family: 'Bree Serif', serif;
}
label .req {
  margin: 2px;
  color: tomato;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000;
  margin-top:-10px;
}

.input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background:#25313094;
  background-image: none;
  border: 1px solid #90EE90;
  color: #90EE90;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
   
}
input:focus{
  outline: 0;
  border-color: #000;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background:#90EE90;
  color: #000;
  transition: all 0.5s ease;
  font-family: 'Bree Serif', serif;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}

.hdr{
	color:#4c4c4c;
	margin:0 auto;
	font-family: 'Bree Serif', serif;
	font-size:30px;
	width:400px;
	margin-bottom:30px;
}

.container .input-group{
	margin-bottom:25px;
}

.container .form-control{
	border-radius:0 !important;
}

.container span{
	border-radius:0 !important;
}

.acsr{
	margin-top:0px;
}

.car a{
	text-decoration:none;
	padding:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








.cartpage {
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 10px;
}
.cartpage h2 {
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  margin-bottom: 20px;
  width: 141px;
}
.tblone {
  border: 1px solid #fff;
  margin-bottom: 12px;
  width: 100%;
}
.tblone th {
  background: #666 none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  padding: 5px 8px;
  text-align: center;
}
.tblone td{padding:10px;text-align:center;}

table.tblone tr:nth-child(2n+1){background:#fff;height:30px;}
table.tblone tr:nth-child(2n){background:#fdf0f1;height:30px;}
table.tblone input[type="number"] {
  border: 1px solid #ddd;
  padding: 2px;
  width: 60px;
}
table.tblone input[type="submit"] {
  background: #333 none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 1px 5px;
}
table.tblone a {
  color: #fe5800;
  font-weight: bold;
  text-decoration: none;
}
table.tblone a:hover{color: #000;}
table.tblone img {
  height: 20px;
  width: 30px;
}
.shopping {
  margin-top: 30px;
}
.shopleft, .shopleft {
  float: left;
  text-align: center;
  width: 610px;
}
.shopleft img{outline:none}
.shopleft a,.shopright a{outline:none}

.shopright img {
  width: 270px;
  outline:none
}

.footer_bg{
	background:#414045;
	padding:20px;
}
.f-otter {
	margin:0 auto;
	width:400px;
}
.f-otter ul{
	display:flex;
	margin:0;
	padding;
	list-style-type:none;
}
.f-otter ul a{
	position:relative;
	width:60px;
	height:60px;
	background:#f1f1f1;
	display:block;
	text-align:center;
	margin:0 10px;
	border-radius:50%;
	padding:6px;
	box-sizing:border-box;
	text-decoration:none;
	box-shadow:0 10px 15px rgba(0,0,0,0.3);
	background:linear-gradient(0deg, #ddd,#fff);
	transition:.5s;
}
.f-otter ul a .fa{
	width:100%;
	height:100%;
	display:block;
	background:linear-gradient(0deg, #fff,#ddd);
	border-radius:50%;
	line-height:calc(60px - 12px);
	font-size:24px;
	color:#262626;
	transition:.5s;
}
.f-otter ul a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
}
.f-otter h4{
	 font-family: 'Bree Serif', serif;
	 margin-left:0px;
	 color:#FFF;
	  margin-left: 109px;
	
}
.f-otter ul li:nth-child(1) a:hover .fa{
	color:#3b5998;
}

.f-otter ul li:nth-child(2) a:hover .fa{
	color:#00aced;
}
.f-otter ul li:nth-child(3) a:hover .fa{
	color:#dd4b39;
}
.f-otter ul li:nth-child(4) a:hover .fa{
	color:#007bb6;
}
.f-otter p{
	color:#fff;
	 margin-top:15px;
	 text-align:center;
}